In [1]:
import pandas as pd
import numpy as np

In [54]:
df = pd.read_csv('data/restaurants_.csv')

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3030 entries, 0 to 3029
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3030 non-null   int64
 1   Business_Name      3030 non-null   object
 2   Ratings            3030 non-null   float64
 3   Snippet            3030 non-null   object
 4   Years_in_Business  3030 non-null   float64
 5   Phone_Number       3030 non-null   object
 6   Address            3030 non-null   object
 7   Price_Range        3030 non-null   object
 8   Stars              3030 non-null   float64
 9   Category_1         3030 non-null   object
 10  Category_2         3030 non-null   object
 11  Category_3         3030 non-null   object
 12  Amenity_1          3030 non-null   object
 13  Amenity_2          3030 non-null   object
 14  Amenity_3          3030 non-null   object
 15  Amenity_4          3030 non-null   object
 16  Amenity_5          3030 non-null   object
 17  Amenity_6          3030 non-null   object
 18  Amenity_7          3030 non-null   object
dtypes: float64(3), int64(1), object(15)
memory usage: 449.9+ KB

In [56]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [12]:
df['Ratings'] = df['Ratings'].fillna(0)
df['Ratings'].isnull().sum()

0

In [14]:
df['Years_in_Business'] = df['Years_in_Business'].fillna(0)
df['Years_in_Business'].isnull().sum()

0

In [16]:
df['Stars'] = df['Stars'].fillna(0)
df['Stars'].isnull().sum()

0

In [31]:
df['Category_1'] = df['Category_1'].fillna('Not_Included')
df['Category_1'].isna().sum()

0

In [32]:
df['Category_2'] = df['Category_2'].fillna('Not_Included')
df['Category_2'].isna().sum()

0

In [20]:
df['Category_3'] = df['Category_3'].fillna('Not_Included')
df['Category_3'].isna().sum()

0

In [23]:
df['Amenity_1'] = df['Amenity_1'].fillna('Not_Included')
df['Amenity_1'].isna().sum()

0

In [24]:
df['Amenity_2'] = df['Amenity_2'].fillna('Not_Included')
df['Amenity_2'].isna().sum()

0

In [25]:
df['Amenity_3'] = df['Amenity_3'].fillna('Not_Included')
df['Amenity_3'].isna().sum()

0

In [26]:
df['Amenity_4'] = df['Amenity_4'].fillna('Not_Included')
df['Amenity_4'].isna().sum()

0

In [27]:
df['Amenity_5'] = df['Amenity_5'].fillna('Not_Included')
df['Amenity_5'].isna().sum()

0

In [28]:
df['Amenity_6'] = df['Amenity_6'].fillna('Not_Included')
df['Amenity_6'].isna().sum()

0

In [29]:
df['Amenity_7'] = df['Amenity_7'].fillna('Not_Included')
df['Amenity_7'].isna().sum()

0

In [36]:
df['Price_Range'] = df['Price_Range'].replace({'NONE': 'Not_Included'})

In [37]:
df['Price_Range']

0               cheap
1            moderate
2        Not_Included
3            moderate
4            moderate
            ...
3025    highly_priced
3026     Not_Included
3027            cheap
3028            cheap
3029         moderate
Name: Price_Range, Length: 3030, dtype: object

In [58]:
df.to_csv('data/new_restaurants_.csv')

In [59]:
d = pd.read_csv('data/new_restaurants_.csv')
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3030 entries, 0 to 3029
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         3030 non-null   int64
 1   id                 3030 non-null   int64
 2   Business_Name      3030 non-null   object
 3   Ratings            3030 non-null   float64
 4   Snippet            3030 non-null   object
 5   Years_in_Business  3030 non-null   float64
 6   Phone_Number       3030 non-null   object
 7   Address            3030 non-null   object
 8   Price_Range        3030 non-null   object
 9   Stars              3030 non-null   float64
 10  Category_1         3030 non-null   object
 11  Category_2         3030 non-null   object
 12  Category_3         3030 non-null   object
 13  Amenity_1          3030 non-null   object
 14  Amenity_2          3030 non-null   object
 15  Amenity_3          3030 non-null   object
 16  Amenity_4          3030 non-null   object
 17  Amenity_5          3030 non-null   object
 18  Amenity_6          3030 non-null   object
 19  Amenity_7          3030 non-null   object
dtypes: float64(3), int64(2), object(15)
memory usage: 473.6+ KB